strong.red {
  color: #ff0000; 
}
li { 
  text-align: justify;
}
p { 
  text-align: justify;
}
p.center { 
  text-align: center;
}
table.rowaltcolor tr:nth-child(even) td {
  background-color: #000033;
}
table.rowaltcolor tr:nth-child(odd) td {
  background-color: #333333;
}
table.rowaltcolor tr:first-child td {
  background-color: #0000ff; color: black;
}
td.top {
  vertical-align: top;
}
td.middle {
  vertical-align: middle;
}
span.tt { 
  font-family: monospace;
}
table.wide { 
  width:100%;
}
.reveal pre { /* make the code blocks bigger */
  font-size: 25px;
  margin-right: 100px;
}
.reveal h2 { /* add spacing below the slide title */
  font-variant:small-caps;
  text-transform:none;
  margin: -50px 0px 50px 0px;
}
