/* This file is part of the http://github.com/aaronbloomfield/pdr
 * repo, and has the same license as the rest of the repo (CC BY-SA)
 */

/* Fixing some slide formatting to my tastes */
strong.red {
  color: #ff0000; 
}
li { 
  text-align: justify;
}
p { 
  text-align: justify;
}
p.center { 
  text-align: center;
}

/* default tables created by markdown */
.reveal section table {
  margin-left: auto;
  margin-right: auto;
}
.reveal table tr:nth-child(even) {
  background-color: rgb(80,130,190);
  padding-left: 5px;
}
.reveal table tr:nth-child(odd) {
  background-color: #666666;
  padding-left: 5px;
}
.reveal table th {
  background-color: rgb(20,60,110);
  padding: 5px;
  text-align:center;
}
.reveal table tr td {
  text-align:center;
  font-size: 80%;
  line-height: 120%;
}

/* for when no formatting is desired (such as the CS 2150 roadmap) */
.reveal table.default tr:nth-child(even) td {
  background-color: transparent;
  padding-left: 5px;
}
.reveal table.default tr:nth-child(odd) td {
  background-color: transparent;
  padding-left: 5px;
}
.reveal table.default th {
  background-color: transparent;
  padding: 5px;
}

/* for side-by-side code blocks */
.reveal table.wide tr { 
  background-color: transparent;
  width:100%;
}

/* make the code blocks bigger */
.reveal pre {
  font-size: 25px;
  margin-right: 80px;
  margin-left: 20px;
}
.reveal pre code { 
    max-height: 700px;
    background-color:dimgray;
    border-radius:7px;
    box-shadow: 5px 5px 5px black;
}

/* add spacing below the slide title */
.reveal h2 {
  font-variant:small-caps;
  text-transform:none;
  margin: -50px 0px 50px 0px;
}

/* center images on the slide */
.reveal section img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* for hard-coding table alignments */
td.top {
  vertical-align: top;
}
td.middle {
  vertical-align: middle;
}
.reveal td.middletrans {
  vertical-align: middle;
  background-color: transparent;
}
.reveal td.trans {
  background-color: transparent;
}

/* currently not used anymore, and slated to be removed eventually */
span.tt { 
  font-family: monospace;
}

/* for vertical table memory cells, which need a border */
td.border {
  border-width:medium;
  border-style:solid;
  border-bottom:medium solid;
}

/* for horizontal table memory cells, which need a border */
tr.bordercfifty td {
  border-width:medium;
  border-style:solid;
  text-align:center;
  width:50px;
}

/* for a transparent table background */
.reveal table.transparent tr { 
  background-color: transparent;
}
.reveal table.transparent td { 
  border-bottom: 0px;
  background-color: transparent;
}
.reveal table.transparent th { 
  text-decoration:underline;
  background-color: transparent;
  border-bottom: 0px;
}

/* for an image without a border */
.reveal img.plain {
  border:0px;
  background:none;
}

/* smaller lists */
ul.small {
    font-size:60%;
    line-height:120%;
}

/* for ... */
.reveal img.print { 
  border:0px;
  display:inline;
  position:relative;
  top:-11px;
  left:3px
}

.reveal sub { 
  font-size: 20px;
}
.reveal sup { 
  font-size: 20px;
}

/* font colors */

span.red { color:red; }
span.skyblue { color:skyblue; }
span.pink { color:pink; }
span.blue { color:blue; }
span.green { color:green; }
span.lightgreen { color:lightgreen; }
span.orange { color:orange; }
span.yellow { color:yellow; }
